body {
	position: fixed;
	width: 750px;
	box-sizeing: border-box;
	-moz-box-sizing:border-box;
	background-color: #c480c0;
}

p {
	font-family: "Myriad", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

div #header_wrap {
	width: 600px;
}
nav {
	width:
	margin-left: auto;
	background-color: #3fa449;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	font-size: 16px;
	font-family: "Myriad", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

nav p {
	font-size: 16px;
	font-family: "Myriad", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

div #about_wrapper {
	height: 300px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

section #about {
	
}

section #about p {
	background-color: #a2b8bd;
}